@using Asp_task3.Areas.Admin.Models.Slider
@model SliderUpdateVM

<form method="post" asp-action="Update" asp-controller="Slider">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter slider name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter slider title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhotoPath"></label>
        <input asp-for="PhotoPath" class="form-control" placeholder="Enter photo path" />
        <span asp-validation-for="PhotoPath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" placeholder="Enter slider description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update Slider</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Slider">Cancel</a>
</form>