﻿@using Asp_task3.Models.Brand
@model BrandIndexVM
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            @foreach (var brand in Model.Brands)
            {
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">@brand.Title</h1>
                    <p>@brand.Description</p>
                </div>
            }

            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <div class="carousel-inner product-links-wap" role="listbox">

                                @foreach (var photo in Model.Brands)
                                {
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="@photo.PhotoPath" alt="Brand Logo"></a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>